body, html{
  margin: 0;
  padding: 0;
}
.container{
  width: 800px;
  margin: auto;
}
header > img{
  border-radius: 20px;
}
ul, li{
  list-style-type: none;
  padding: 0;
}
nav{
  float: left;
}
main{
  text-align: center;
}
footer{
  clear: both;
}
.dzialania{
  display: inline-block;
}
.dzialania input{
  margin-top: 5px;
  margin-left: 5px;
}
.dzialania label{
  margin: 5px 20px;
}
.buttony{
  margin-top: 20px;
}
